#search_mini_form label {
    display: none;
}
#search_mini_form .search-button {
    text-indent: -9999px;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: 0;
    background: none;
}
#search_mini_form .search-button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    background-image: url(../images/icon_sprite.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-position: 0px 0px;

}
#searchr-result-containter
{
    position: absolute;
    z-index: 999;
    width: 100%;}
#autocomplete-content
{
    background-color: #FFF;
    border:solid 1px #cccccc;
    padding: 2px;
    margin:0;
    position:relative;
}
#search-result ul#search_hidden{
    display:none;
}
#search-result ul{
    background-color:#ffffff;
    border:none;
    margin: 15px 0px 15px;
}
#search-result ul.products-list{
    background-color:#ffffff;
    border:none;
    margin:5px 0px 5px;
}
#search-result ul.products-list > li{
    cursor:pointer;
    min-height:80px;
    color:#2F2F2F;
    border-bottom: 1px solid #e1e1e1;
    margin:0 0 10px 0;
    padding:5px;
}
#search-result ul > li.notice-message{
    min-height:0px;
    border-bottom:none;
    text-align:center;
    margin:0px;
}
#search-result ul > li.autocomplete_hidden{
    background-color: white;
    border: medium none;
    margin: 0;
    padding: 0;
    display: none;
}
.img-box-area {
    float: left;
}
.auto-fright{
    padding: 0 0 0 8px;
}
.auto-fright .price-box
{
    float: none; !important
}
.content-box-area{
    padding-left: 10px;
}
